
html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 50%);
  background: #fff url("../images/bg-intro.svg") no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
}


ul.social-icons  {
  list-style-type: none;
}

.banner-text {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
  font-size: 2.8rem;
  line-height: 29px;
} 

.icon {
  fill: #fff;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.logo {
  color: #fff;
}

.illustration {
  text-align: center;
}

.call-out {
  padding: 5% 8%;
  margin-top: 35px;
}

.tag-line {
  font-size: 1.5rem;
}

.submit {
  background-color: hsl(163, 95%, 43%);
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}